body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #8c837d;
}

/*  верхняя панель */
.header {
  display: flex;
  align-items: center;
  background-color: #d2c1b5;
  padding: 20px 40px;
  border-radius: 15px;
  margin: 10px;
  height: 90px; 
}

.logo {
  display: flex;
  align-items: center;
}

.cup {
  height: 130px; 
}

.text-logo {
  height: 130px; 
}

.search {
  flex: 1;
  margin: 0 40px;
  padding: 15px 25px; 
  border-radius: 30px;
  border: none;
  font-size: 18px;
  outline: none;
}

.lang-user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.lang-select {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  font-weight: bold;
  font-size: 16px;
}

.user-icon {
  font-size: 30px; 
}

.main {
  display: flex;
  height: calc(100vh - 140px);
  padding: 10px;
}

/*список кофеен*/
.sidebar {
  background-color: #f3ebe4;
  width: 45%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.sort-select, .filter-btn {
  border: none;
  border-radius: 12px;
  background-color: #efe6de;
  padding: 10px 18px;
  cursor: pointer;
  font-size: 15px;
}

.coffee-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.coffee-item {
  background-color: #f9f2eb;
  border-radius: 20px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coffee-item.selected {
  border: 2px solid #b6a495;
}

.coffee-info h3 {
  margin: 0;
  font-size: 18px;
}

.coffee-info p {
  margin: 4px 0;
  font-size: 15px;
}

.rating {
  color: #b28a4a;
  font-size: 14px;
}

.distance {
  font-size: 18px;
  font-weight: bold;
}

/*карта*/
.map {
  flex: 1;
  background-color: #e6e6e6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-placeholder {
  color: #777;
  font-size: 22px;
}
